
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="topSingleBkg topPageBkg">
    <div class="item-img top-menu-5"></div>
    <div class="inner-desc">
        <h1 class="post-title single-post-title">Menüler</h1>
        <span class="post-subtitle"> Come and taste our delicacies</span>
    </div>
</section>
<!-- /TOP IMAGE -->
<!-- WRAP CONTENT -->
<div id="wrap-content" class="page-content custom-page-template">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-holder custom-page-template">
                    @*<div class="image-container menu5-img1" style="margin-bottom:20px;">
            <div class="smalltitle white no-margin">1</div>
            <h2 class="white no-margin">İçecekler</h2>
        </div>*@
                    <h2 class="menu-category">İçecekler</h2>
                    <div class="row">

                        <div class="col-md-6 margin-b54">
                            <div class="image-container menu5-img1">
                                <div class="smalltitle white no-margin">1</div>
                                <h2 class="white no-margin">Soğuk İçecekler</h2>
                            </div>
                            <ul class="food-menu menu-1cols">
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /col-md-6 -->
                        <div class="col-md-6 margin-b54">
                            <div class="image-container menu5-img2">
                                <div class="smalltitle white no-margin">2</div>
                                <h2 class="white no-margin">Sıcak İçecekler</h2>
                            </div>
                            <ul class="food-menu menu-1cols">
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /col-md-6 -->
                    </div>
                    <!-- /row -->
                    @*<div class="image-container menu5-img1" style="margin-bottom:20px;">
            <div class="smalltitle white no-margin">1</div>
            <h2 class="white no-margin">Tatlılar</h2>
        </div>*@
                    <h2 class="menu-category">Tatlılar</h2>
                    <div class="row">

                        <div class="col-md-6 mobile-margin-b54">
                            <div class="image-container menu5-img3">
                                <div class="smalltitle white no-margin">3</div>
                                <h2 class="white no-margin">Sütlü Tatlılar</h2>
                            </div>
                            <ul class="food-menu menu-1cols">
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /col-md-6 -->
                        <div class="col-md-6">
                            <div class="image-container menu5-img4">
                                <div class="smalltitle white no-margin">4</div>
                                <h2 class="white no-margin">Şerbetli Tatlılar</h2>
                            </div>
                            <ul class="food-menu menu-1cols">
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                                <li>
                                    <h4><span class="menu-title">Terrific Turkey Chili</span><span class="menu-price">$10.00</span></h4>
                                    <div class=" row">
                                        <div class="menu-img"><img src="/Content/Template/images/menu/food-1.jpg" class="img-fluid" alt="" width="100" height="200"></div>
                                        <div class="menu-text">Turkey, oregano, tomato paste, peppers</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /col-md-6 -->
                    </div>

                    <!-- /row -->
                </div>
                <!-- /custom-page-template -->
            </div>
            <!-- /col-md-12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

